## Practical_Activity_5.3.1

### 1. Import the libraries and data set

In [2]:
# import necessary packages
import pandas as pd

# import excel file
transport = pd.read_excel("transport_costs.xlsx")

# view DataFrame
print(transport.shape)
print(transport.dtypes)
transport

(15, 7)
region                         object
country                        object
port                           object
sea freight cost                int64
road transport cost per km    float64
currency                       object
distance unit                  object
dtype: object

,region,country,port,sea freight cost,road transport cost per km,currency,distance unit
0,Africa,South Africa,Durban,2300,1.61,US $,km
1,Africa,Kenya,Mombasa,2800,13.50,US $,km
2,Africa,Nigeria,Lagos,4240,2.50,US $,km
3,Asia,Singapore,Singapore,180,1.00,US $,km
4,Asia,Japan,Yokohama,180,1.00,US $,km
5,Asia,China,Shanghai,180,1.00,US $,km
6,Europe,Netherlands,Rotterdam,110,2.10,US $,km
7,Europe,Germany,Hamburg,200,2.10,US $,km
8,Europe,Spain,Valencia,195,2.10,US $,km
9,Latin America and the Caribbean,Brazil,Santos,544,1.00,US $,km
10,Latin America and the Caribbean,Columbia,Cartagena,833,1.00,US $,km
11,Latin America and the Caribbean,Costa Rica,Puerto Limon,1654,1.00,US $,km
12,Oceania,Australia,Brisbane,4450,1.80,US $,km
13,Oceania,Australia,Fremantle,4450,1.80,US $,km
14,Oceania,New Zealand,Auckland,4450,1.75,US $,km

In [3]:
# drop columns 'currency' and 'distance unit'
transport_final = transport[['region', 'country', 'port',
                            'sea freight cost', 'road transport cost per km']]

transport_final

,region,country,port,sea freight cost,road transport cost per km
0,Africa,South Africa,Durban,2300,1.61
1,Africa,Kenya,Mombasa,2800,13.50
2,Africa,Nigeria,Lagos,4240,2.50
3,Asia,Singapore,Singapore,180,1.00
4,Asia,Japan,Yokohama,180,1.00
5,Asia,China,Shanghai,180,1.00
6,Europe,Netherlands,Rotterdam,110,2.10
7,Europe,Germany,Hamburg,200,2.10
8,Europe,Spain,Valencia,195,2.10
9,Latin America and the Caribbean,Brazil,Santos,544,1.00
10,Latin America and the Caribbean,Columbia,Cartagena,833,1.00
11,Latin America and the Caribbean,Costa Rica,Puerto Limon,1654,1.00
12,Oceania,Australia,Brisbane,4450,1.80
13,Oceania,Australia,Fremantle,4450,1.80
14,Oceania,New Zealand,Auckland,4450,1.75

In [9]:
# create new columns with calculated values
transport_final['total_sea_freight_costs'] = transport_final['sea freight cost'] * 2 * 4
transport_final['total_road_transport_costs'] = transport_final['road transport cost per km'] * 10000
transport_final['total_export_costs'] = transport_final['total_sea_freight_costs'] \
+ transport_final['total_road_transport_costs']

# rearrange column orders
transport_final = transport_final[['region', 'country', 'port',
                                  'sea freight cost', 'total_sea_freight_costs',
                                  'road transport cost per km', 'total_road_transport_costs',
                                  'total_export_costs']]

# view DataFrame
transport_final

,region,country,port,sea freight cost,total_sea_freight_costs,road transport cost per km,total_road_transport_costs,total_export_costs
0,Africa,South Africa,Durban,2300,18400,1.61,16100.0,34500.0
1,Africa,Kenya,Mombasa,2800,22400,13.50,135000.0,157400.0
2,Africa,Nigeria,Lagos,4240,33920,2.50,25000.0,58920.0
3,Asia,Singapore,Singapore,180,1440,1.00,10000.0,11440.0
4,Asia,Japan,Yokohama,180,1440,1.00,10000.0,11440.0
5,Asia,China,Shanghai,180,1440,1.00,10000.0,11440.0
6,Europe,Netherlands,Rotterdam,110,880,2.10,21000.0,21880.0
7,Europe,Germany,Hamburg,200,1600,2.10,21000.0,22600.0
8,Europe,Spain,Valencia,195,1560,2.10,21000.0,22560.0
9,Latin America and the Caribbean,Brazil,Santos,544,4352,1.00,10000.0,14352.0
10,Latin America and the Caribbean,Columbia,Cartagena,833,6664,1.00,10000.0,16664.0
11,Latin America and the Caribbean,Costa Rica,Puerto Limon,1654,13232,1.00,10000.0,23232.0
12,Oceania,Australia,Brisbane,4450,35600,1.80,18000.0,53600.0
13,Oceania,Australia,Fremantle,4450,35600,1.80,18000.0,53600.0
14,Oceania,New Zealand,Auckland,4450,35600,1.75,17500.0,53100.0

In [10]:
# save file as CSV
transport_final.to_csv("transport_final_python.csv")